@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared-value start */

/* h2  tag constant value */
.heading-for-all h2 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    flex: none;
}

/* shared-value End */

/* peragraph color */
.pera {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

/* Navbar Design Start */
nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 50px 150px;
}

nav button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    padding: 17px 24px;
    border: none;
    border-radius: 8px;

}

nav h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

/* Nav Bar Desing End */

/* Hero Section Design Start */

.hero-section {
    background-image: url(../resources/B10A1-Challenge-Begins/assets/Hero-bg.png);
    position: center;
    width: 1440px;
    height: 652px;
    margin: 0px auto;
    border: 2px solid red;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero-image {
    background-image: url(../resources/B10A1-Challenge-Begins/assets/devloper.png);
    width: 240.28px;
    height: 240px;
    border: 2px solid red;
}

.hero-image img {
    width: 100%;
    height: 100%;
    padding: 0px 378px;
}

.hero-content h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;

}

.hero-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 73px;

}

.hero-content button {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    margin-top: 10px;

}

.hero-content button a {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}

/* Hero Section Design End */

/* wh-webdev desing start */

.wh-webdv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 74px;
    margin: 74px 150px;
    border: 2px solid red;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);

}

.wh-web-container p {
    color: rgba(13, 19, 33, 0.496);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.wh-webdv-content {
    position: static;
    width: 946px;
    height: 1235px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0px 10px;
    border: 2px solid red;
}










/* content-1 Stat */
.content-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.content-1 h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    position: static;
    width: 852px;
    height: 39px;
}

.content-1 p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    width: 852px;
    height: 52px;
}


/* content-1 End */

/* content-2 Stat */

.content-2-image {
    background-image: url(../resources/B10A1-Challenge-Begins/assets/content-2.png);
    width: 259.56px;
    height: 217.01px;
    border: 2px solid red;

}

.content-2-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    width: 477px;
    height: 220px;
}

/* content-2 End */

/* 3rd content start */
.content-3-container {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}

.content-3-image {
    background-image: url(../resources/B10A1-Challenge-Begins/assets/content3.png);
    background-position: contain;
    width: 240px;
    height: 240px;
    padding: 10px 100px;
}

.ctn-value-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 0px 32px;

}

/* 3rd content End*/



/* 4th content Start*/

.content-4-container {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}

.content-4-image {
    background-image: url(../resources/B10A1-Challenge-Begins/assets/content4.png);
    width: 259.56px;
    height: 217.01px;
    border: 2px solid red;
}

/* 4th content End*/

/* all content cotainer value start*/
.cntr-value {
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}


/* all content cotainer value  End*/

/* all conten-2-contant and content-4-content constant value start */
.ctn-value {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    width: 477px;
    height: 220px;
}

/* all conten-2-contant and content-4-content constant value End */

/* learn More desing start */
.wh-webdv-content span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    margin-top: 32px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}


/* learn More desing start */
.ins-youtube iframe {
    width: 1140px;
    height: 614px;
    border-radius: 16px;

}

.ins-youtube {
    width: 1140px;
    height: 614px;
    padding: 32px auto;
    border: 2px solid red;


}

.ins-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;



}

/* TARGET SCTION START  */
.target-container {
    width: 1140px;
    height: 463px;
    margin: 150px auto;
    border: 2px solid red;
}

.target-head-content {
    text-align: center;

}

.target-box-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 24px;
    padding: 40px;

}

.target-image-html {
    width: 56px;
    height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;

    border: 2px solid red;
}

.target-image-html img {
    width: 100%;
    height: 100%;
}

.target-image-css {
    width: 56px;
    height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;

    border: 2px solid red;
}

.target-image-css img {
    width: 100%;
    height: 100%;
}

.target-image-javascript {
    width: 56px;
    height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;

    border: 2px solid red;
}

.target-image-javascript img {
    width: 100%;
    height: 100%;
}

.target-box-html {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.target-box-css {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 16px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.target-box-javascript {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.target-box-container span {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0%;
    text-decoration-line: underline;
    margin: 24px 0px;
}

.target-box-container p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}

/* TARGET SCTION EMD  */

/* I NEED SUPPORT SECTION */
.support-section-container {
    background-image: url(../icon/handshake.jpg);
    background-repeat: no-repeat;
    border: 2px solid red;
    padding: 120px 150px 250px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;


}

.support-section-container h1 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin: 16px 0px;
    margin-bottom: 60px;
}

.support-section-container p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.support-section-container section input {
    width: 548px;
    height: 57px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;

}

.support-section-container section button {
    width: 110px;
    height: 58px;
    padding: 17px 20px 17px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;

}

/* I NEED SUPPORT SECTION END*/

/* FOOT SECTION START */
footer {
    width: 1440px;
    height: 100px;
    margin: 80px auto;
    padding: 32px 150px 32px 150px;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

footer section {
    display: flex;
    gap: 7px;
    justify-content: center;


}

/* FOOTER SECTION END */